# Build
bin/
obj/

# User / IDE
.vs/
.vscode/
.idea/

# ASP.NET Core secrets & config locale
appsettings.Development.json
secrets.json

# Environment variables
.env

# Logs
*.log

# HotChocolate / GraphQL généré
schema.graphql
schema.gql